@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body.hide {
  overflow-y: hidden;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 10px;
}
